html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

#map {
	  height: 100%;
	  position: relative;
	  margin: 0px;
	  z-index: auto;
}

/* Liikuttaa zoomausnappeja */
.ol-zoom.ol-unselectable.ol-control {
	top: 4em;
}

 /* Navigaatiomenu */
.navigation {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

/* Piilottaa avautuvat linkit */
.navigation #links {
  display: none;
}

/* Navigaatiolinkit */
.navigation a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hampurilaiskuvake */
.navigation a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

/* Hiiren alla olevan linkin tausta */
.navigation a:hover {
  background-color: #ddd;
  color: black;
}


.navigation #topbar {
  padding-left: 65px;
}

/* Tyylittelee tällä hetkellä valitun linkin */
.active {
  background-color: #4CAF50;
  color: white;
} 

/* Alapalkin tyyli */
.bottombar {
	z-index: 1;
	position: absolute;
	bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

.bottombar #drawtools {
	background: #333;
	display: flex;
	justify-content: space-evenly;
}