html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

#map {
	  height: 95%;
  }

 /* Style the navigation menu */
.navigation {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navigation #myLinks {
  display: none;
}

/* Style navigation menu links */
.navigation a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.navigation a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.navigation a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
} 