html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#map {
	  height: 100%;
	  position: relative;
	  margin: 0px;
	  z-index: auto;
}

/* Liikuttaa zoomausnappeja ja käännön resetointinappia */
.ol-zoom.ol-unselectable.ol-control, .ol-rotate.ol-unselectable.ol-control {
	top: 4em;
}

 /* Navigaatiomenu */
.navigation {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  z-index: 2;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

/* Piilottaa avautuvat linkit */
.navigation #links {
  display: none;
}

/* Navigaatiolinkit */
.navigation a {
  color: white;
  padding: 10px 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  height: 30px;
}

/* Hampurilaiskuvake */
.navigation a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  height: 20px;
}

/* Hiiren alla olevan linkin tausta */
.navigation a:hover {
  background-color: #ddd;
  color: black;
}


.navigation #topbar {
  padding-left: 65px;
  padding-top: 0px;
  padding-bottom: 5px;
  height: 45px;
}

#title {
	font-size: 20px;
	padding-bottom: 5px;
}

#debuginfo {
	font-size: 12px;
}

/* Tyylittelee tällä hetkellä valitun linkin */
.active {
  background-color: #193b78;
  color: white;
}

/*flexboxit jotka keskittää login ikkunan*/
#flexLR {
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: inherit;
}
#flexUD {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
} 


/*käyttäjätunnuksen valinta-ikkuna*/
#loginwindow {
	background-color: #333;
	color: white;
	position: relative;
	left: 25%;
	max-width: 50%;
	border-style: outset;
	border-color: #444;
}

/*huoneenvalinta-ikkuna*/
#roomwindow {
	background-color: #333;
	color: white;
	position: relative;
	left: 25%;
	max-width: 50%;
	border-style: outset;
	border-color: #444;
	
}
#exitRoomLogin {
	position: absolute;
	right: 10px;
}

/*ryhmänvalinta-ikkuna*/
#teamSelect{
	background-color: #333;
	color: white;
	position: relative;
	left: 25%;
	max-width: 50%;
	max-height: 60%;
	min-width: 240px;
	display: flex;
	flex-direction: column;
	border-style: outset;
	border-color: #444;
}

#exitTeamWindow {
	position: relative;
	right: 0px;
}

#teamlistWindowContent{
	position: relative;
	padding: 5px;
	padding-left: 10px;
	padding-right: 5px;
	max-height: 100%;
	overflow-y: auto;
}

#teamEditButton{
	position: absolute;
	right: 0%;
	margin-right: 6px;
}

#teamlist{
	position: relative;
	display: flex;
	flex-direction: column;
	height: inherit;
}

.teamlistElement{
	height: 50px;
	border-style: groove none;
	border-color: #555;
	border-width: 3px;
	margin: 0px;
	font-weight: ;
	background-color: #333;
}

.teamButton{
	position: relative;
	background-color: #32c004;
	color: white;
	margin-right: 2px;
	height: 100%;
	float: right;
}

#createTeamButton{
	position: relative;
	background-color: #32c004;
	color: white;
	margin-right: 2px;
	height: 100%;
	float: right;
}

#teamnameInput{
	margin-top: 5px;
	width: 50%;
}

.delteamButton{
	position: relative;
	background-color: #fb1c1c;
	color: white;
	margin-right: 2px;
	height: 100%;
	float: right;
}

.teamlistElement:hover{
	background-color: #ddd;
	color: black;
}

/*login ikkunan yläpalkki*/
.loginwindowTop{
	background-color: #193b78;
	color: white;
	width: inherit;
	padding: 5px;
	font-size: 18px;
}

/*login ikkunan sisältö*/
.loginwindowContent{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/*editmap-ikkuna*/
#editmapdiv{
	background-color: #333;
	color: white;
	position: relative;
	left: 25%;
	max-width: 50%;
	max-height: 60%;
	min-width: 240px;
	display: flex;
	flex-direction: column;
	border-style: outset;
	border-color: #444;
}



#maplist input[type=number] {
	width: 4em;
}

/*debugmenu*/
#debugmenu {
	background-color: white;
	top: 75%;
	z-index: 1;
	position: absolute;
}

/* Alapalkin tyyli */
.bottombar {
	z-index: 2;
	position: absolute;
	bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

#licenseinfo{
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	color: white;
	background-color: #333;
	font-size: 12px;
}

.bottombar #drawtools {
	background: #333;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	color: white;
	z-index: 0;
}

#colorpickers{
	position: absolute;
	z-index: 1;
	max-width: 310px;
	bottom: 20px;
	background-color: #333;
	color: white;
}

#color-picker-container{
	background: #333;
	display: inline-block;
	font-size: 10px;
	color: white;
}
#color-picker-stroke{
	background: #333;
	display: inline-block;
	font-size: 10px;
	color: white;
	padding-left: 2px;
}
.bottombar #linestringSettings{
	background: #333;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	color: white;
	
}

.bottombar #PolyCircleSettings{
	background: #333;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	color: white;
	
}

#chatwindow{
	z-index: 2;
	bottom: 0px;
	width: 100%;
	padding-top: 2px;
	background-color: #444;
}

#chatminimize{
	height: 20px;
	background-color: #193b78;
	display: flex;
	justify-content: center;
	color: ;
}

#messages{
	background-color: white;
	margin: 0px;
	max-height: 400px;
	font-size: 16px;
	overflow-y: scroll;
}

.chatmessage{
	
}

#messages>li:nth-child(odd){
	background-color: #e9e9e9;
}

#messages>li:nth-child(even){
	
}

#line{
	margin: 0px;
}

#sendmessage{
	height: 40px;
}

#chatInputContainer{
	display: flex;
	height: inherit;
}

#chatselect{
	background-color: #333;
	color: white;
	font-weight: bold;
}

#messagefield{
	flex-grow: 1;
	font-size: 18px;
	background-color: white;
}

#messagesendbutton{
	width: 70px;
	color: white;
	background-color: #193b78;
	font-weight: bold;
}

/*kapean näytön poikkeukset*/
@media only screen and (max-width: 780px) {
#teamSelect{
	background-color: #333;
	color: white;
	position: relative;
	left: 10%;
	max-width: 80%;
	max-height: 60%;
	min-width: 240px;
	display: flex;
	flex-direction: column;
	border-style: outset;
	border-color: #444;
}
	
#teamnameInput{
	margin-top: 0px;
	width: 50%;
}

#hideAll{
	display: none;
}
#hideAccuracy{
	display: none;
}
}

